body {
  background: #121212;
}

img {
  width: 100%;
  height: auto;
}

#logoImage {
  z-index: 1; /* Set a specific z-index value */
}

#your-career-in-tech {
  z-index: 10; /* Set a specific z-index value */
}



section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: white; /* Set text color to white */
  font-family: 'Open Sans', sans-serif; /* Example custom font */
}

p {
  color: white;
}
