@font-face {
  font-family: 'Afterglow-Regular';
  src: url('/fonts/Afterglow-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSans';
  src: url('/fonts/SourceSans3-Regular.ttf');
  font-weight: normal
}

body {
  background: #020e27;
  font-family: 'SourceSans', sans-serif;
}

.hero-image {
  position: fixed; /* Anchors the container to the top */
  width: 100%;
  z-index: 1; /* Ensures image stays behind text */
}

main {
  background-color: #121212;
  padding-top: 400px; 
  padding-bottom: 700px;
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #030d25;
  opacity: 0.9; 
  position: relative;
  z-index: 2; /* Ensures image stays behind text */
}

section h2 {
  font-size: 48px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  text-align: center;
  color: #00c9ff; 
  font-family: 'Afterglow-Regular', serif;
}

section p {
  font-size: 18px;
  text-align: center;
  line-height: 2;
  color: white;
  font-family: 'SourceSans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#closing {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: white;
}

img {
  width: 100%; /* Scales image to be 100% of the viewport width */
}

.colored-sentence {
  color: #92fe9d; 
}

.p4g-mockups {
  padding-top: 200px;
  width: 100%; /* Scales image to be 100% of the viewport width */
  margin: 0 auto;
  position: relative;z-index: 2; /* Ensures image stays behind text */
}
