body {
  background: #020e27;
}

.hero-image {
  position: fixed; /* Anchors the container to the top */
  top: 0;
  left: 0;
  width: 96%;
  align: center;
  z-index: 1; /* Ensures image stays behind text */
}

main {
  background-color: #121212;
  padding-top: 700px; 
  padding-bottom: 700px;
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #212121;
  position: relative;
  z-index: 2; /* Ensures image stays behind text */
}

section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  text-align: center;
  color: #00c9ff; 
  font-family: 'Afterglow-Regular', sans-serif; /* Example custom font */
}

section p {
  font-size: 12px;
  text-align: center;
  color: white;
  font-family: 'SourceSans', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#closing {
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: white;
}
